/******************************frame work************************** */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

i {
    cursor: pointer;
    transition: .3s;
}

i:hover {
    color: #595959;
}

.owl-dot .active {
    background: #fff;
}

.main-btn {
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 0;
    padding: 10px 25px;
    transition: .3s;
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
}

.main-btn:hover {
    background-color: #3d3e46;
    color: #fff;
    border: 2px solid #3d3e46;
}

@media (max-width:650px) {
    .heading {
        font-size: 60px;
    }

    .heading .title-word {
        padding: 40px 0 86px 61px;
    }

}

/* @media (max-width:575px) {
    .heading {
        font-size: 42px !important;
    }

} */


/******************************End frame work************************** */
body {
    font-family: 'Raleway', sans-serif;
    background-color: #1f1e25;
    color: #fff;
}

/* start nav-top */
.nav-top {
    background: #1f1e25;
    border-bottom: 1px solid #595959;
    padding: 15px;
    display: none;
}


.nav-top .logo img {
    width: 72px;
    /* height: 65px; */
}

.nav-top .menu {
    width: 100px;
    margin-top: 17px;
}

.nav-top .dark {
    text-align: right;
    margin-top: 17px;
}

.nav-top .dark i {
    margin: 0 10px;
}


/* End nav-top */

/* header */
.nav-left {
    padding: 20px 8px;
}

.nav-left .logo img {
    width: 100%;
}

.nav-left .brand {
    position: relative;
}

.nav-left .brand .logo-text {
    position: absolute;
    transform: rotate(270deg)translate(-113%, 40%);
    white-space: nowrap;
    bottom: 0;
    left: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 3px;
    transform-origin: 0;
}

.menu {
    margin-top: 250px;
    cursor: pointer;
}

.menu span {
    height: 5px;
    background: #fff;
    display: block;
}

.menu:hover span {
    width: 100%;
}

.menu:hover .top {
    animation: toggle .6s ease-in-out infinite;
}

.menu:hover .bottom {
    animation: toggle .6s ease-in-out infinite .16s;
}

.menu .top {
    margin-bottom: 10px;
    width: 100%;
}

.menu .bottom {
    width: 75%;
}

.nav-left .menu .name {
    margin-top: 15px;
    text-transform: uppercase;
}

.nav-left .icon ul {
    padding: 0;
    margin-top: 30px;
    margin-left: 10px;
}

.nav-left .icon ul li {
    margin-bottom: 16px;
}

.nav-left .icon a {
    color: #fff;
}

@keyframes toggle {
    100% {
        width: 0%;
    }

    50% {
        width: 50%;
        background: #595959;
    }

    100% {
        width: 100%;
    }
}

@media (max-width:1200px) {
    .header .nav-left {
        display: none !important;
    }

    .header .dark {
        display: none !important;
    }

    .nav-top {
        display: block !important;
    }

    .header .slider {
        margin-top: 85px;
    }
}

/* End header */

/* slider */
.slider .item img {
    width: 100%;
}

/* End slider */

/* dark */
.header .dark {
    margin-top: 50px;
}

.header .dark i {
    margin: 0 10px;
}

/*End dark */

/*side-menu */
.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(15, 15, 15, .9);
    z-index: 9999;
    padding: 70px 70px 70px 200px;
    width: 60%;
    height: 100%;
    transform: translateX(-100%);
    opacity: 0;
    transition: .4s;
}

.side-menu.open {
    transform: translateX(0);
    opacity: 1;
}



.side-menu .icon {
    text-align: right;
    font-size: 30px;
}

.side-menu .icon .close {
    cursor: pointer;
}

.side-menu .list {
    margin: 7.5rem;
}

.side-menu .list a {
    font-size: 75px;
    font-weight: 800;
    color: #fff;
    text-transform: capitalize;
    position: relative;
}

.side-menu .list a::before {
    position: absolute;
    content: attr(data-num);
    top: 8px;
    left: -45px;
    font-size: 28px;
    color: #595959;
}

.side-menu .list li {
    margin-bottom: 20px;
}


@media (max-width:1200px) {
    .side-menu {
        padding: 70px;
        width: 50%;
    }
}

@media (max-width:991px) {
    .side-menu a {
        font-size: 45px !important;
    }

}

@media (max-width:767px) {
    .side-menu {
        padding: 5px;
        width: 100%;
    }

    .side-menu .list {
        margin: 6.5rem;
    }

    .side-menu a {
        font-size: 30px !important;
    }

    .side-menu .list a::before {
        top: 4px;
        left: -44px;
        font-size: 19px;
    }

}

/*End side-menu */

/* about */
.about {
    margin-top: 130px;
}

.heading {
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
}

.heading .title-letter {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 5.7em;
    -webkit-text-stroke: 1px rgba(225, 225, 225, .2) !important;
    color: transparent;
    line-height: 1;

}

.heading .title-word {
    padding: 40px 0 86px 152px;
    display: block;
    line-height: 1.2;
}

.about p {
    font-size: 18px;
    color: #eee;
    font-weight: 700;
}


.about .counterup .box {
    text-align: center;
    margin-bottom: 70px;
}

.about .counterup .box span {
    display: block;
}

.about .counterup .box .num {
    font-size: 86px;
    font-weight: 800;
}

.about .counterup .box .name {
    font-size: 20px;
    font-weight: 700;
}

@media (max-width:991px) {
    .about .counterup {
        font-size: 60px;
    }

}

@media (max-width:650px) {
    .about .heading {
        font-size: 60px;
    }

    .about .heading .title-word {
        padding: 40px 0 86px 61px;
    }

    .about p {
        font-size: 16px;
    }

    .about .counterup .box .num {
        font-size: 50px;
    }

    .about .counterup .box .name {
        font-size: 16px;
    }
}

/*End about */


/* gallery */

.gallery h2 {
    font-size: 20rem;
    color: #282832;
    font-weight: 800;
}

.gallery .image {
    margin: 0 15px 60px;
    position: relative;
    cursor: pointer;
}

.gallery .image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
    padding: 10px;
    transform: scale(.7);
    transition: .3s;
    opacity: 0;
}

.gallery .image:hover .overlay {
    opacity: 1;
    transform: scale(1);
}

.gallery .image .overlay>div {
    border: 1px solid #eee;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;

}


.gallery .margin-neg {
    margin-top: -130px;
}

.gallery .main-link {
    text-decoration: none;
    color: #eee;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 2px;
    position: relative;
    transition: .3s;
}

.gallery .main-link::before {
    position: absolute;
    content: '';
    width: 70px;
    height: 1px;
    top: 50%;
    right: -100%;
    background-color: #eee;
    transition: .3s;
}

.gallery .main-link:hover {
    color: #777;
}

.gallery .main-link:hover::before {
    right: -80%;
    background-color: #777;
}

@media (max-width:1200px) {
    .gallery h2 {
        font-size: 16rem;

    }
}

@media (max-width:991px) {
    .gallery h2 {
        font-size: 12rem;

    }
}

@media (max-width:767px) {
    .gallery h2 {
        font-size: 7rem;

    }

    .gallery .margin-neg {
        margin-top: 0;
    }
}

@media (max-width:575px) {
    .gallery h2 {
        font-size: 5rem;

    }
}

/* End gallery */





/* offer */
.offer {
    margin-top: 100px;
    overflow: hidden;
}

.offer .heading {
    margin-top: 80px;
}

.offer .info {
    margin-bottom: 50px;
}

.offer p {
    font-size: 19px;
    color: #eee;
}

.offer .box {
    display: inline-block;
    text-align: center;
    padding: 15px;
}

.offer .box span {
    display: block;
}

.offer .box .num {
    font-size: 65px;
    font-weight: 800;
}

.offer .box .name {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.offer .image {
    background: #29292f;
    position: relative;
}

.offer .image::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #29292f;
    top: 0;
    right: -100%;
}

.offer .image::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #29292f;
    top: 0;
    left: -100%;
    display: none;
}

.offer .image .discount {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #a1be56;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.offer .discount span {
    font-size: 35px;
    font-weight: 800;
}

@media (max-width:1200px) {
    .offer .box {
        padding: 10px;
    }

    .offer .box .num {
        font-size: 50px;
        font-weight: 800;
    }

    .offer .box .name {
        font-size: 17px;
    }

    .offer .image .discount {
        top: 72px;
        left: 53px;
    }

}

@media (max-width:991px) {


    .offer .image .discount {
        top: 110px;
        left: 109px;
    }

    .offer .image::after {
        display: block;
    }
}

@media (max-width:650px) {
    .offer .heading {
        font-size: 60px;
    }

    .offer .heading .title-word {
        padding: 40px 0 86px 61px;
    }

    .offer .box {
        padding: 5px;
    }

    .offer .box .num {
        font-size: 30px;
    }

    .offer .box .name {
        font-size: 16px;
    }

    .offer .image .discount {
        top: 72px;
        left: 53px;
    }

    .offer p {
        font-size: 16px;
    }

    .offer .image .discount {
        width: 75px;
        height: 75px;
    }

    .offer .discount span {
        font-size: 25px;
    }
}

/* End offer */


/* testimonials */
.testimonials {
    margin-top: 200px;
}

.heading span {
    display: block;
}

.testimonials .box {
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 30px;
}

.testimonials .box::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(15, 15, 15, 0.8) 0%, transparent 100%);
}

.testimonials .box .info {
    position: absolute;
    padding: 20px 30px;
}

.testimonials .box .info .num {
    font-size: 95px;
    font-weight: 800;
}

.testimonials .box .info h3 {
    font-weight: 700;
}

.testimonials .box .info p {
    font-size: 18px;
    font-weight: 400;
}

.testimonials .bg-1 {
    background-image: url(../images/testimonials/01.jpg);
}

.testimonials .bg-2 {
    background-image: url(../images/testimonials/02.jpg);
}

.testimonials .bg-3 {
    background-image: url(../images/testimonials/03.jpg);
}

.testimonials .custom-container {
    max-width: 100%;
}

@media (max-width:575px) {
    .testimonials .heading {
        font-size: 50px;
    }

    .heading .title-word {
        padding: 40px 0 35px 155px;

    }
}


/* End testimonials */


/* brands */
.brands {
    margin-top: 100px;
}

.brands .item {
    padding: 0 15px;
}

.brands .item img {
    filter: invert(1);
    transition: .3s;
    cursor: pointer;
}

.brands .item img:hover {
    filter: invert(0);
}

/* End brands */

/* contact */
.contact {
    margin-top: 100px;
    overflow: hidden;
}

.contact .join {
    margin-bottom: 50px;
}

.contact .join h3 {
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.contact .join .form-control {
    background: #2c2c32;
    border: none;
    border-left: 2px solid #fff;
    border-radius: 0;
    margin-top: 30px;
    height: 60px;
}

.contact .join .btn {
    background: #000;
    width: 100%;
    height: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.join .btn i {
    margin-left: 5px;
}

.join .btn:hover {
    border: 2px solid transparent;
    color: #777;

}

.join .btn:hover i {
    margin-left: 15px;
}

.get-in-touch {
    background: #2c2c32;
    padding: 60px;
    position: relative;
}

.contact .get-in-touch::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #2c2c32;
    top: 0;
    right: -100%;
}

.get-in-touch h2 {
    font-size: 80px;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.contact .get-in-touch label {
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;

}

.contact .get-in-touch .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid #444;
    border-radius: 0;
    margin-bottom: 30px;
}

.contact .main-btn {
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #444;
    text-transform: capitalize;

}

.contact .get-in-touch textarea {
    height: 140px;
}

.contact .main-btn i {
    margin-left: 5px;
}

.contact .main-btn:hover i {
    margin-left: 15px;
}

.contact .custom-container {
    max-width: 100%;
}

@media (max-width:1200px) {
    .get-in-touch h2 {
        font-size: 65px;
    }
}

@media (max-width:991px) {
    .get-in-touch h2 {
        font-size: 45px;
    }

    .contact .get-in-touch label {
        font-size: 35px;
    }
}

@media (max-width:767px) {
    .contact .contact-form {
        position: unset !important;
    }

    .contact .get-in-touch::before {
        display: none;
    }
}

@media (max-width:575px) {
    .get-in-touch h2 {
        font-size: 30px;
    }

    .contact .get-in-touch {
        padding: 25px;
    }
}


.contact .contact-form {
    position: absolute;
    overflow: hidden;
    right: 0;
}

/* End contact */

/* footer */
footer {
    background: #0f0f11;
    margin-top: 70px;
}



footer .info h3 {
    margin-bottom: 30px;
    font-weight: 700;
}

footer .info span {
    display: block;
    margin-bottom: 30px;
    color: #999;
    font-size: 20px;
}

footer .info a {
    color: #fff;
    font-size: 20px;
    margin: 0 5px;
}

footer .copyright {
    color: #999;
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
}

@media (max-width:767px) {
    footer {
        text-align: center;
    }
}

/* ŸèEnd footer */